@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    line-height: 1.5625rem;
    opacity: 0.6;
  }

  button.btn-open {
    row-gap: 0;
  }

  button.btn-open span:first-child {
    transform: translateY(1px) rotate(45deg);
  }

  button.btn-open span:last-child {
    transform: rotate(-45deg);
  }
}
